extends layout

block content
  if posts
    each post, i in posts
      .col-md-6
        .post
          img(src='/images/#{post.mainimage}')
          p.meta Posted in 
            a(href='/posts/show/#{post.category}') #{post.category}
            | , on #{moment(post.date).format("MM-DD-YYYY")}
          h2
            a(href='/posts/post/#{post._id}')
              =post.title
          
          
          .body
            !=truncateText(post.body, 200)
          a.more(href='/posts/post/#{post._id}') Read More